<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
-user
    <add key="DataSource" value="localhost" />
    <add key="UserID" value="db_user" />
    <add key="Password" value="password" />
    <add key="InitialCatalog" value="db_schema" />

    <add key="source_directory" value="source_folder_path" />
    <add key="newFilePath" value="destonation_folder_path" />
    <add key="dataLogFilePath" value="destination_file_name\data.txt" />
    <add key="displayMenu" value="true" />

  </appSettings>
</configuration>
